{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Profile</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body class="bd">
    <div class="text-center fs-1">Profile</div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-3 mt-3">
                <div class="card h-100">
                    <img src="{% static 'img/self.png' %}" class="card-img-top image">
                    <div class="card-body">
                        <p class="card-title fs-3">Nikita Sharma</p>
                        <p class="card-text">&lt;programmer/&gt;</p>
                    </div>
                </div>
            </div>
            <div class="col-9 mt-3">
                <div class="card h-100">
                    <div class="card-body">
                        <p class="card-text">I will be interning as an associate software engineer at MAQ Softwares in summers 2022. As an engineer, I deeply care about the products I am developing, the users and business growth.</p>
                        <p class="card-text">Not a typical computer science student. I am highly emotional, empathetic and a great communicator. I like to play with ideas, perspectives and analyze the outcomes of actions/ decisions or behaviors. I am a people's person on
                            most days. I also write poetry, journals to help myself articulate my ideas better.</p>
                        <p class="card-text">During my school days I was a high-achiever, but I experienced drastic shifts when I came to college. It has been a journey of healing, accepting myself, and overcoming traumas which I hardly did before, and have come a long way
                            from being adamant to leave the college to now desiring and working towards becoming a software engineer.</p>
                        <div class="">
                            <img src="{% static 'img/facebook.svg' %}" style="width:50px">
                            <img src="{% static 'img/instagram.svg' %}" style="width:50px">
                            <img src="{% static 'img/whatsapp.svg' %}" style="width:50px">
                            <img src="{% static 'img/youtube.svg' %}" style="width:50px">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row justify-content-center">
            <div class="col-6 mt-3 ">
                <div class="card h-100">
                    <div class="card-body">
                        <p class="card-title fs-3">Education</p>
                        <p class="card-text"> 3rd year BTech Student | CSE @ IIT (BHU) Varanasi </p>
                        <p class="card-text"> 12th Class C.B.S.E. | N.K.Bagrodia Public School, Dwarka </p>
                    </div>
                </div>
            </div>
            <div class="col-6 mt-3">
                <div class="card h-100">
                    <div class="card-body">
                        <p class="card-title fs-3">Technical skills</p>
                        <p class="card-text">C, C++, Python, Git, Github, HTML, CSS, Bootstrap, Django, Php and more</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row justify-content-center">
            <div class="col-6 mt-3">
                <div class="card h-100">
                    <div class="card-body">
                        <p class="card-title fs-3">Exploratory Project</p>
                        <p class="card-text"><a href="https://github.com/n4i9kita/ExploratoryProject">Link</a> : To analyze the behavior of multi-armed bandit algorithms on normal and heavy-tailed distributions. It was performed by a batch mate and myself under the guidance
                            of Dr. Lakshmanan Kailasam, IIT BHU</p>
                    </div>
                </div>
            </div>
            <div class="col-6 mt-3">
                <div class="card h-100">
                    <div class="card-body">
                        <p class="card-title fs-3">Achievements</p>
                        <p class="card-text">AIR 417 in JEE Mains'17. AIR 2073 in JEE Advanced'17</p>
                        <p class="card-text">KVPY'17, NTSE'16, JSTSE'15.</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <script src=" " async defer></script>
</body>

</html>